/* MIN */
.card {
    padding: 0px;
}
section.middle-padding {
    padding: 8px 0;
}
body, section, .grey-blue-bg {
    background: #fafafa;
}
li{
    padding-left: 3px;
}
.btn {
    color: white;
    font-size: 0.9rem;
}
.btn:hover {
    color: white;
}

@media screen and (min-width: 769px) {
    .iniciar_sm_li {
        display: none;
    }
}

/* maxx */
@media screen and (max-width: 480px) {}

@media screen and (max-width: 768px) {
    .header-user-menu {
        display: none;
    }

    /* boton de inicio registro */
    .show-reg-form {
        display: none;
    }

    .main-menu {
        top: 0px;
        padding: 15px 0px;
        height: 100vh;
        width: 80%;
        background: rgba(255, 255, 255, 0.9);
        color: black;
    }

    .iniciar_sm {
        text-align: center;
        background: silver;
        padding: 6px;
        color:
            white;
        background: #42a5f5;
        cursor: pointer;
        font-size: 0.8rem;
        border-radius: 3px;
    }
}


/* ///////////////// */
.sale-window::before{
    border-top: none;
}
.sale-window::after{
    border-bottom: none;
}
.sale-window.big-sale::before{
    border-top: none;
}
.sale-window.big-sale::after{
    border-bottom: none;
}
.sale-window{
    background:rgba(128, 203, 196, 0.6)
}
.sale-window.big-sale {
    background:rgba(244, 143, 177, 0.6);
}
/* //////////////// */
.sale-window .big-sale-two {
    background:rgba(33, 150, 243, 0.6);
}
/*  */


/* ////////////////// HEADER */
/* contenedor principal del header */
.main-header {
    height: 80px;
}
/* contenedor segundario */
.header-top {
    height: 80px;
}
/* menu principal en grande */
.nav-holder {
    float: none !important;
    position: relative !important;
    left: auto;
    right: 30px;
    top: 17px;
    right: 25%;
}

/* JM spa logo */
.logo-holder {
    float: left;
    position: absolute;
    top: 2px;
    height: 80px;
}

/*  icono de usuario en grande */
.header-user-menu {
    position: relative;
    top: 24px;
    right: -10%;
}

/* boton agregar propiedad */
.add_propiedad {
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.2);
    background:
        #4DB7FE;
    position: relative;
    right: -80%;
    width: 100px;
    padding: 13px 32px;
    cursor: pointer;
    display: flex;
    border-radius: 30px;
    color:
        #fff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    top: -27px;
    margin-left: 30%;
    align-content: center;
    justify-content: center;
}
.add_propiedad:hover {
    box-shadow: 0px 0px 0px 7px rgba(255, 255, 255, 0.1);
}

/* ////////////////// END HEADER */

/* /////////////////// FA ICONS */
.fa.fa-search {
    color:
        #4DB7FE;
}
.fa-search {
    cursor: pointer;
}
.fa.fa-plus {
    margin-left: 5px;
}
/*///////////////////////END FA ICONS */

/* /////////TAGS/////////////////TAGS */
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; }
/* /////// END TAGS */

.show-reg-form {
    top: 9px;
    font-size: 13px;
    font-weight: bolder;
}


#wrapper {
    padding-top: 60px;
}

.show-search-button {
    border: none;
}

.show-search-button::before {
    content: none;
}

.nav-button-wrap {
    float: right;
    top: 20px;
    right: 10px;
}


.buscar {
    color: white;
    font-size: 0.9rem;
    margin-left: 13px;
    cursor: pointer;
}
.buscar:hover {
    text-shadow: 0px 0px 2px #4DB7FE;
}

/* boton de inciar session en modal */
.soc-log a {
    padding: 0px 0px 0px 0px !important;
    font-weight: bolder;
    text-align: center;
}

/*  placeholder*/
::-webkit-input-placeholder {
    /* Edge */
    color: #C1C1C1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #C1C1C1;
}

::placeholder {
    color: #C1C1C1;
}

a {
    text-decoration: none !important;
}
